{% extends 'layout.html.twig' %}

{% block maincontent %}
    <h1>Erreur</h1>

    <p>
        Nous avons rencontré un problème inatttendu. <a
                href="{{ path('sortie_liste') }}">Retourner à l'accueil</a>.
    </p>
{% endblock %}