{% extends 'layout_pure.html.twig' %}


{% block maincontent %}
    {% for message in app.flashes("success") %}
        <div id="alert"><a class="alert-success" href="#alert">{{ message }}</a></div>
    {% endfor %}
    <h1>Gérer les sites</h1>

    <h5>Filtrer les sites</h5>

    <form class="pure-form pure-form-aligned" method="post">
        <label for="nom">Le nom contient : </label>
        <input type="search" id="nom" onkeyup="rechercheNom()">
        <input type="submit" class="pure-button pure-button-primary" value="Rechercher">
    </form>

    <table class="pure-table" id="tab">
        <thead>
        <tr class="pure-table-odd">
            <th>Ville</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for site in sites %}
            <tr class="pure-table-odd">
                <td>
                    {{ site.nomSite | upper }}
                </td>
                <td>
                    <a href="{{ path('site_modifier', {"id" : site.id}) }}">Modifier</a> - <a
                            href="{{ path('site_supprimer', {"id" : site.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <form method="post">
        <tr class="pure-table-odd">
            <td>
                <input type="text" name="nomSite">
            </td>
            <td>
                <input type="submit" class="submitSearch pure-button pure-button-primary" value="Ajouter">
            </td>
        </tr>
        </form>
    </table>
{% endblock %}