{% extends 'layout_pure.html.twig' %}


{% block recherche %}

{% endblock %}

{% block maincontent %}
    {% for message in app.flashes("error") %}
        <div id="alert"><a class="alert-error" href="#alert">{{ message }}</a></div>
    {% endfor %}
    <header>
        <h2 align="center">Créer une sortie</h2>
    </header>

    {% form_theme form 'bootstrap_4_layout.html.twig' %}

    {{ form(form) }}
    <a href="{{ path('sortie_liste') }}" class="pure-button pure-button-primary">Annuler</a>

{% endblock %}

