{% extends "layout.html.twig" %}

{% block maincontent %}

    {% if error %}
        <div id="alert" class="alert">
            <a class="alert-error" href="#alert">{{ error.messagekey|trans(error.messageData, 'security') }}</a>
        </div>
    {% endif %}

    <form class="pure-form pure-form-aligned" method="post" id="login">
        <fieldset>
            <div class="pure-control-group">
                <label for="_username">Identifiant : </label>
                <input id="_username" type="text" placeholder="Pseudo ou email" name="_username">
            </div>

            <div class="pure-control-group">
                <label for="_password">Mot de passe : </label>
                <input id="_password" type="password" placeholder="Mot de passe" name="_password">
            </div>

            <div class="pure-controls">
                <label for="remember_me" class="pure-checkbox">
                    <input id="remember_me" type="checkbox"> Se souvenir de moi
                </label>

                <button type="submit" class="pure-button pure-button-primary">Connexion</button>
            </div>
        </fieldset>
    </form>

{% endblock %}