{% extends 'layout.html.twig' %}

{% block maincontent %}
    <h1>Mon profil</h1>
    {% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
    {{ form(form) }}
    <a href="{{ path('sortie_liste') }}" class="pure-button pure-button-primary">Annuler</a>

{% endblock %}