{% extends "layout.html.twig" %}

{% block maincontent %}
    <h1>Gérer les villes</h1>

    <h5>Filtrer les villes</h5>

    <form class="pure-form pure-form-aligned" method="post">
        <label for="nom">Le nom contient : </label>
        <input type="search" id="nom" onkeyup="rechercheNom()">
        <input type="submit" class="pure-button pure-button-primary" value="Rechercher">
    </form>

    <table class="pure-table" id="tab">
        <thead>
        <tr class="pure-table-odd">
            <th>Ville</th>
            <th>Code postal</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for ville in villes %}
            <tr class="pure-table-odd">
                <td>
                    {{ ville.nomVille }}
                </td>
                <td>
                    {{ ville.codePostal }}
                </td>
                <td>
                    <a href="{{ path('ville_modifier', {"id" : ville.id}) }}">Modifier</a> - <a href="{{ path('ville_supprimer', {"id" : ville.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <form method="post">
        <tr class="pure-table-odd">
            <td>
                <input type="text" name="nomVille">
            </td>
            <td>
                <input type="text" name="codePostal">
            </td>
            <td>
                <input type="submit" class="submitSearch pure-button pure-button-primary" value="Ajouter">
            </td>
        </tr>
        </form>
    </table>
{% endblock %}